[Unit]
Description=Linode Dynamic DNS
After=network-online.target auditd.service

[Timer]
OnCalendar=hourly
RandomizedDelaySec=15m
Unit=linode-dynamic-dns.service

[Install]
WantedBy=timers.target
