[Unit]
Description=Linode Dynamic DNS
After=network.target auditd.service

[Service]
ExecStart=/usr/local/bin/linode-dynamic-dns
EnvironmentFile=/etc/linode-dynamic-dns.conf
Type=oneshot
DynamicUser=yes
ProtectSystem=strict
ProtectHome=yes
PrivateDevices=yes

